html {
    scroll-behavior: smooth;
}

/*.cv-body {
    margin: 0 auto;
    width: 70%;
    box-shadow: 3px 0px 40px 2px rgb(56, 56, 56);
    border: 3px solid red;
    height: 100%;
    font: 1.1rem Futura, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: pink;
}*/

.container {
    margin: 0 auto;
    width: 70%;
    box-shadow: 3px 0px 40px 2px rgb(56, 56, 56);
    height: 100%;
    font: 1.1rem Futura, sans-serif;
    background-color: rgb(243, 235, 226);
    display: flex;
    flex-direction: column;
}

.cv-main {
    display: flex;
}

.left-block {
  background-color: rgb(73, 74, 88); 
  color: #ffffff;
  padding: 2%;
  white-space: nowrap;
}

.menu {
   padding: 0 25px 0 0;
   text-align: center;
   font-size: 0.8rem;
}

.menu-top {
  margin-top: 30px;
}

a {
    text-decoration: none;
    color: #000000;
}



/*.right-block {
    
}*/

.photo {
    margin: 0;
    padding: 5%;
    background-color: #a8b9df;
    text-align: center;
    
}

.photo-img {
    border: 2px solid rgb(243, 235, 226);
    max-width: 100%;
}

h1, h2, h3 {
    text-align: center;
}

.h1-cv {
    font-size: 1.2rem;
}

.h2-cv {
    font-size: 1.1rem;
}

.ul-contacts {
    list-style: none;
    padding-left: 5px;
}

.li-contacts-item {
  padding-top: 3px;
  display: flex;
  align-items: center;
  color: #ffffff; 
}

.contacts-link-image {
    margin-right: 5px;
}

.contacts-links {
    color: #ffffff;
}

.ul-menu {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

.ul-skills {
    list-style: none;
}

.cv {
    padding: 5%;
}

.black-line {
    background-color: #000000;
    width: 80px;
    height: 3px;
}

.skills-list-item {
    position: relative;
}

.skills-list-item::before {
    content: "";
    position: absolute;
    border-radius: 100%;
    background-color: #a8b9df;
    height: 7px;
    width: 7px;
    left: -20px;
    display: block;
    top: calc(50% - 4px); 
}

figcaption {
    font-style: italic;
    font-size: 1rem;
}

.project-img {
  max-width: 100%;
}

.hobbies-icons {
    display: flex;
    flex-wrap: wrap;
}

.icons {
    padding: 5%;
}

.cv-footer {
    background-color: #a8b9df;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    color: #ffffff;
    font: 18px Futura, sans-serif;
    font-weight: 600;
    max-height: 2%;
}

#github {
    margin-top: 40px;
    padding-left: 30px;
}

#year {
    margin-top: 60px;
}
#rs-school {
    margin-top: 40px;
}